<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996514666811-otl428ba10ca1sgj08oflg2do1qbtfn5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996514666811-otl428ba10ca1sgj08oflg2do1qbtfn5</string>
	<key>API_KEY</key>
	<string>AIzaSyCI5gMxemUZjkQIUxdtiEIW44UiiAWJiwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>996514666811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeacademy.Cocktails</string>
	<key>PROJECT_ID</key>
	<string>cocktails-17e5c</string>
	<key>STORAGE_BUCKET</key>
	<string>cocktails-17e5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996514666811:ios:f31b4823a0a7dfc92c7f1e</string>
</dict>
</plist>